model : {
  population : {
    size = 1000000;
    people : {
      names = ["female","male"];
      distribution = [0.5,0.5];
    };
    partnerships : {
      names = ["standard"];    
    };
    partnershipformers : {
      names = ["individual"];
    };
    infections : {
      names = ["chlamydia"];
    };
    gpvisits : {
      names = ["background"];
    };
  };
  people : {
    female : {
      lifespan = 40y;
      birthshift = 12y;
      ## either 30% every year...
      visitgp = {rate = 0.3/1y; };
      ## ...or the same 30% every year
      #visitgp = {rate = 1/1y; };
      #visitgpfactor = {fixatbirth; distribution=[0.7,0.3];};
      ## switch gp visits on after 100y of simulation
      visitgpprobability = { relativeto="time"; type="constant";
        values = [0,100y,100y+1,1000y]; density=[0,0,1,1];
      };
    };
    male : {
      lifespan = 40y;
      birthshift = 12y;
    };
  };
  partnerships : {
    standard : { 
      # Length of partnership is exponential with average 2y
      breakup = { symmetric="type";
        names = ["f2m"];
        f2m : {
          from="female"; to="male"; 
          value = { type="weibull"; shape=1; scale=2y; };
        };
      };
      contact = { rate = 1/5; };
    };
  };
  partnershipformers : {
    individual : {
      active = ["male","female"];
      # Seek partner only if currently no partner
      seek = { depends="currentpartners";
        0 : { rate=1/1y; };
        1 : never;
      };
      # Accept only if currently no or one partner
      accept = { depends="currentpartners";
        0 : 1;
        1 : 0.3;
        2 : 0;
      };
      # This makes sure we only get heterosexual partnerships
      mixingfactors = {
        names=["f2m","m2f"];
        f2m = { from="female"; to="male"; value=1; };
        m2f = { from="male"; to="female"; value=1; };
      };
      partnershiptype = 0;
    };
  };
  infections : {
    chlamydia : {
      bins : {
        names = ["infected","cleared","treated"];
        transitions = {
          names = ["i2c"];
          i2c : {from="infected"; to="cleared"; at={rate=1/370;};};
        };
      };
      prevalencewhenpopulating=0.05;
      provokegpvisit = { rate=1/3000; };
      infectiousness = 0.15;
    };
  };
  gpvisits : {
    background = {
      targets=["chlamydia"];
    };
  };
};


#EXECUTE


p = numeric(200)

for (i in 1:length(p)) {
  sti.run(365)
  p[i] = sti.prevalence(breaks=c(0,Inf))[[1]]
  message("Current prevalence: ", p[i])
}

plot(p)
